@page "/ProcessManagement"
@using Microsoft.Extensions.Localization
@using global::EasyAbp.ProcessManagement.Localization
@inject IStringLocalizer<ProcessManagementResource> L
@{
}
<h1>ProcessManagement</h1>
<p>@L["SamplePageMessage"]</p>