@{
    var randomId = Guid.NewGuid();
}
<div id="ToolbarNotificationsWidgetArea-@randomId">
    @await Component.InvokeAsync("NotificationsToolbarItemWidget")
</div>

<script>
    var toolbarNotificationsWidgetAreaRandomIds = toolbarNotificationsWidgetAreaRandomIds ?? [];
    toolbarNotificationsWidgetAreaRandomIds.push('@randomId');
</script>
