<div id="ToolbarNotificationsWidgetArea">
    @await Component.InvokeAsync("NotificationsToolbarItemWidget")
</div>

<script>
    setInterval(function () {
        let widgetManager = new abp.WidgetManager({
            wrapper: '#ToolbarNotificationsWidgetArea'
        });
        widgetManager.refresh();
    }, 5000);
</script>