@using EasyAbp.ProcessManagement.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<ProcessManagementResource> L
@model EasyAbp.ProcessManagement.Web.Components.NotificationsWidget.NotificationsWidgetViewModel

<div class="dropdown">
    <a class="nav-link" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell"></i> @Model.UnreadCount
    </a>
</div>