@using EasyAbp.ProcessManagement.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<ProcessManagementResource> L
@model EasyAbp.ProcessManagement.Web.Components.NotificationsWidget.NotificationsWidgetViewModel

<div class="dropdown">
    <a class="nav-link notifications-toolbar-item" href="#" role="button">
        <i class="fas fa-bell"></i> @Model.UnreadCount
    </a>
</div>