.row-text-bold {
    font-weight: bold;
}

tr:hover {
    cursor: pointer;
}

.svg-icon {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.stage-flag-name-container {
    display: flex;
    align-items: center;
}