@page
@using EasyAbp.ProcessManagement.Localization
@using EasyAbp.ProcessManagement.Web.Options
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@inject IHtmlLocalizer<ProcessManagementResource> L
@inject IOptions<ProcessManagementWebOptions> Options

@{
    Layout = null;
}

<script>
    var notificationLifetime = @Options.Value.NotificationLifetime.TotalMilliseconds;
</script>

<form data-ajaxForm="true" asp-page="EditModal">
    <abp-modal id="NotificationsModal" size="Large">
        <abp-modal-header title="@L["Notification"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-table striped-rows="true" id="NotificationsTable" class="nowrap"/>
        </abp-modal-body>
        <abp-modal-footer>
            <abp-button button-type="Primary" id="go-to-management-page">@L["More"]</abp-button>
            <abp-button button-type="Secondary" data-bs-dismiss="modal">@L["Close"]</abp-button>
        </abp-modal-footer>
    </abp-modal>
</form>

<abp-script src="/Pages/ProcessManagement/Notifications/Notification/notificationsModal.js"/>
<abp-style src="/Pages/ProcessManagement/Notifications/Notification/notificationsModal.css"/>