@page
@using EasyAbp.ProcessManagement.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@inject IHtmlLocalizer<ProcessManagementResource> L
@model EasyAbp.ProcessManagement.Web.Pages.ProcessManagement.Processes.Process.DetailsModalModel
@{
    Layout = null;
}
<abp-modal>
    <abp-modal-header title="@Model.ViewModel.State"></abp-modal-header>
    <abp-modal-body>
        <div class="mb-3">
            <div contenteditable="false">@Html.Raw(Model.ViewModel.StateDetailsText)</div>
        </div>
        <abp-collapse-body id="ProcessDetailsModalMoreInfo">
            <hr>
            <abp-input asp-for="ViewModel.Process"/>
            <abp-input asp-for="ViewModel.State"/>
            <abp-input asp-for="ViewModel.Histories"/>
            <abp-input asp-for="ViewModel.CreationTime"/>
            <abp-input asp-for="ViewModel.CorrelationId"/>
        </abp-collapse-body>
    </abp-modal-body>
    <abp-modal-footer>
        <abp-button button-type="Primary" abp-collapse-id="ProcessDetailsModalMoreInfo">@L["More"]</abp-button>
        <abp-button button-type="Secondary" data-bs-dismiss="modal">@L["Close"]</abp-button>
    </abp-modal-footer>
</abp-modal>