@page
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using EasyAbp.ProcessManagement.Web.Pages.ProcessManagement.Processes.Process
@using EasyAbp.ProcessManagement.Localization
@using EasyAbp.ProcessManagement.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<ProcessManagementResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["Process"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Process"].Value);
    PageLayout.Content.MenuItemName = ProcessManagementMenus.Process;
}

@section scripts
{
    <abp-script src="/Pages/ProcessManagement/Processes/Process/index.js" />
}
@section styles
{
    <abp-style src="/Pages/ProcessManagement/Processes/Process/index.css"/>
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Process"]</abp-card-title>
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="mb-3">
            <a abp-collapse-id="ProcessCollapse" class="text-secondary">@L["TableFilter"] </a>
        </abp-row>
        <abp-dynamic-form abp-model="ProcessFilter" id="ProcessFilter" required-symbols="false" column-size="_3">
            <abp-collapse-body id="ProcessCollapse">
                <abp-form-content />
            </abp-collapse-body>
        </abp-dynamic-form>
        <hr />
        <abp-table striped-rows="true" id="ProcessTable" class="nowrap"/>
    </abp-card-body>
</abp-card>
